
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: calc(100% - 60px);
    margin: 0px 0px 0px 0px;
}

.navbar-default {
    background-color: #007bff!important;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

#app-wrapper{
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
}

#content{
    margin-top: 60px;
    height: 100%;
    width: 99%;
    margin-left: 3px;
    overflow-y: auto;
}

.col-md-10 {
    height: 100%;
}

#message-pc{
    overflow-y: auto;
    border: 0px;
    height: calc(100% - 160px);
}

.message-ul {
    font-size: 16px;
    height: 100%;
    overflow-y: auto;
    padding-left: 10px;
}

.message-ul li {
    margin-top: 10px;
    margin-bottom: 15px;
    clear: both;
    list-style: none;
}

#input-pc{
    position: fixed;
    bottom: 3px;
    height: 160px;
    width: calc(100% - 235px);
    background-color: ivory;
    overflow-y: scroll;
    margin-left: 0px;
}

.el-textarea {
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
}

.input-pc-buttons {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    box-sizing: border-box;
}

.bd-input-emoji {
    float: left;
    margin-top: 3px;
    margin-left: 20px;
    cursor: pointer;
    list-style: none;
    color: gray;
}

.bd-input-image {
    float: left;
    margin-top: 3px;
    margin-left: 20px;
    cursor: pointer;
    list-style: none;
    color: gray;
}

.bd-message-clear {
    float: left;
    margin-top: 3px;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
    list-style: none;
}

.bd-message-rate {
    float: left;
    margin-top: 3px;
    margin-left: 15px;
    color: gray;
    cursor: pointer;
    list-style: none;
    font-size: 14px;
}

.bd-message-video {
    float: left;
    margin-top: 3px;
    margin-left: 15px;
    color: gray;
    cursor: pointer;
    list-style: none;
}

.bd-message-tip {
    float: left;
    margin-top: 4px;
    margin-left: 15px;
    cursor: pointer;
    list-style: none;
    font-size: 10px;
    color: gray;
    display: none;
}

.input-emoji-box {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: -305px;
    width: 300px;
    height: 300px;
    padding: 3px 6px 6px 14px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow:0 1px 2px 1px #d1d1d1;
}

.input-emoji-box li {
    list-style: none;
    width: 24px;
    margin-top: 15px;
    margin-left: 5px;
    border: none;
    margin-bottom: 0px;
}

.input-emoji-box.showbox-enter-active, .input-emoji-box.showbox-leave-active {
    transition: all .5s;
}

.input-emoji-box.showbox-enter, .input-emoji-box.showbox-leave-active {
    opacity: 0;
}

.bd-upload-image {
    font-size: 25px;
    color: gray;
    margin-left: 20px;
    cursor: pointer;
    float: left;
    list-style: none;
}

#input-pc-send {
    position: absolute;
    height: 45px;
    line-height: 45px;
    width: 80px;
    bottom: 45px;
    right: 40px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

#message-mobile{
    height: 90%;
}

#input-mobile {
    height: 10%;
    min-height: 50px;
    background-color: #f5f7fa;
}

.input-mobile-buttons {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    box-sizing: border-box;
}

.input-mobile-input {
    width: calc(100% - 135px);
    margin-left: 10px;
    margin-top: 3px;
}


/**
聊天记录
 */

.pullrefresh {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    color: blue;
    cursor: pointer;
}

.timestamp {
    margin: 10px 0;
    text-align: center;
    font-size: 10px;
}

.timestamp span {
    display: inline-block;
    padding: 0 8px;
    color: #fff;
    border-radius: 5px;
    color: #bbbbbb;
}

.avatar {
    float: left;
    margin: 0 10px 0 0;
    border-radius: 3px;
}

.nickname {
    text-align: left;
    font-size: 10px;
    color: black;
}

.text {
    float: left;
    color: black;
    position: relative;
    padding: 5px 10px 5px;
    max-width: calc(100% - 150px);
    min-height: 30px;
    line-height: 2.5;
    font-size: 12px;
    text-align: left;
    word-break: break-all;
    background-color: #dddddd;
    border-radius: 4px;
}

.text:before {
    content: " ";
    position: absolute;
    top: 9px;
    right: 100%;
    border: 6px solid transparent;
    border-right-color: #dddddd;
}

.text .image {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    height: 100px;
}

.text .file {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25px;
    height: 20px;
}

.text .voice {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25px;
    height: 20px;
}

.other {
    margin-left: 10px;
}

.self {
    text-align: right;
}

.self .avatar {
    float: right;
    margin: 0 0 0 10px;
    margin-right: 20px;
}

.self .text {
    float: right;
    background-color: #b2e281;
}

.self .text:before {
    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #b2e281;
}

.self .status {
    float: right;
    margin-right: 8px;
}

/**
移动端页面
*/
.avatar-mobile {
    float: left;
    margin: 0 10px 0 5px;
    border-radius: 3px;
}

.self .avatar-mobile {
    float: right;
    margin: 0 10px 0 10px;
}

.text-mobile {
    float: left;
    color: black;
    position: relative;
    padding: 5px 10px 5px;
    max-width: calc(100% - 100px);
    min-height: 30px;
    line-height: 2.5;
    font-size: 12px;
    text-align: left;
    word-break: break-all;
    background-color: #dddddd;
    border-radius: 4px;
}

.text-mobile:before {
    content: " ";
    position: absolute;
    top: 9px;
    right: 100%;
    border: 6px solid transparent;
    border-right-color: #dddddd;
}

.self .text-mobile {
    float: right;
    background-color: #b2e281;
}

.self .text-mobile:before {
    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #b2e281;
}

.notification {
    text-align: center;
}

#byteDesk-faq {
    color: black;
    height: 100%;
    overflow-y: auto;
    height: 90%;
}

.byteDesk-question {
    cursor: pointer;
    font-size: 10px;
    color: gray;
    height: 20px;
    overflow: hidden;
}

#inputarea {
    height: 95px;
}

#inputcontent {
    width: 100%;
    height: 95px;
}

#byteDesk-logo {
    position: fixed;
    color: gray;
    text-align: left;
    font-size: 12px;
    bottom: 3px;
}

#byteDesk-logo a {
    color: gray;
}

#byteDesk-chat {
    float: left;
    height: 100%;
    width: calc(100% - 235px);
    overflow-y: auto;
}

#byteDesk-leave {
    float: left;
    height: 100%;
    width: calc(100% - 235px);
    color: black;
}

#byteDesk-rate {
    float: left;
    height: 100%;
    width: calc(100% - 235px);
    color: black;
}

#byteDesk-right {
    float: right;
    text-align: center;
    background-color: white;
    height: 100%;
    padding-right: 0px;
    width: 215px;
}

#byteDesk-split {
    height: 100%;
    width: 1px;
    background-color: #e4e7ed;
    float: left;
}

#byteDesk-connected {
    position: absolute;
    bottom: 5px;
    width: 100px;
    font-size: 10px;
    margin-left: 20px;
}

#byteDesk-connected-image {
    float: left;
    height: 15px;
    width: 15px;
}

.rate-button {
    width: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.leave-message-button {
    cursor: pointer;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}
