<!DOCTYPE html><html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="ByteDesk.com 微客服 在线客服系统 微信客服系统 智能客服系统 即时通讯云 企业协作系统 工单系统 App android ios 苹果 安卓 微信 微信公众平台 微服务 android iOS 微客服 App客服  App在线客服 App 在线咨询 移动开发者服务平台 微客服  在线客服  微博 新浪微博 微信 微语 聊天 移动聊天 免费 发信息 发图片 语音 weixin 离线消息 微博 私信 流量" />
    <meta name="description" content="ByteDesk.com 微客服 卓越的在线客服系统 微信客服系统 智能客服系统 即时通讯云 企业协作系统 工单系统 android ios 苹果 安卓 微信 微信公众平台 微服务 微客服 App在线客服 App在线咨询 android iOS 安卓 移动开发者服务平台 一款跨平台的在线客服工具。支持多个微博、绑定多个账号。通过获取微博用户关系链、粉丝、好友，挖掘潜在客户。" />
    <meta name="author" content="ByteDesk.com">
    <link rel="icon" href="/favicon.ico">

    <title>虾婆·智能云客服</title>

    <link href=/css/app.f8eef468032a3969d7c0693fec2dd3db.css rel=stylesheet>

</head>
<body>

    <div id=app></div>

    <!-- 线上发布 -->
    <script src="https://cdn.bytedesk.com/js/vendor/layui/src/layui.js"></script>

    <!--Abstract away browser differences with the WebRTC shim-->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    <!---->
    <script type=text/javascript src=/js/manifest.2ae2e69a05c33dfc65f8.js></script>
    <script type=text/javascript src=/js/vendor.4fe9f43db84bd68576f5.js></script>
    <script type=text/javascript src=/js/app.c51e292c6d3946fb9f03.js></script>

    <!--虾婆·智能客服代码 开始 -->
    <!--<div id="byteDesk"></div>-->
    <!--<script type="text/javascript">-->
        <!--// 以下所有值均需要替换为真实值-->
        <!--window.adminUid = "201808221551193";-->
        <!--window.workGroupWid = "201807171659201";-->
        <!--window.subDomain = "vip";-->
        <!--window.type = 'workGroup';-->
        <!--window.agentUid = "201808221551193";-->
        <!--(function () {-->
            <!--d = document;-->
            <!--s = d.createElement("script");-->
            <!--s.src = "https://cdn.bytedesk.com/js/f.js";-->
            <!--s.async = 1;-->
            <!--d.getElementsByTagName("head")[0].appendChild(s);-->
        <!--})();-->
    <!--</script>-->
    <!--./虾婆·智能客服代码 结束 -->

</body>
</html>