<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <div th:replace="fragments/header :: header-meta"/>

    <div th:replace="fragments/header :: header-css"/>

    <title>微信公众号授权页面 - <span th:utext="#{title}" th:remove="tag"></span> · <span th:utext="#{slogan}" th:remove="tag"></span> </title>

</head>
<body>

    <div id="header">
        <div th:replace="fragments/header :: header"/>
    </div>

    <div id="app">

        <main class="container" style="margin-top: 100px; margin-bottom: 100px; min-height: 1000px;">

            <div class="row">

                <div class="col-md-2 left-column">

                </div>
                <div class="col-md-8">

                    <a th:href="${url}">去授权</a>

                </div>
                <div class="col-md-2">

                </div>

            </div>

        </main><!-- /.container -->

    </div>

    <div th:replace="fragments/footer :: footer-div"/>

    <div th:replace="fragments/footer :: footer-js"/>

    <!--客服上线代码 -->
    <div th:replace="fragments/footer :: footer-chat"/>


    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                inputSearch: ''
            },
            computed: {

            },
        })
    </script>

</body>
</html>


