<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <div th:replace="fragments/header :: header-meta"/>
    <div th:replace="fragments/header :: header-css"/>
    <title><span th:utext="#{title}" th:remove="tag"></span> · <span th:utext="#{slogan}" th:remove="tag"></span></title>


    <!--iconfont.cn-->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_761687_xivxue5rikg.css"/>
    <link rel="stylesheet" href="/js/vendor/layui/src/css/layui.css?v=1">
    <!--自定义最小化icon漂浮框，修改源码layui/lay/modules/layim.js '主面板最小化状态'content字段-->
    <style type="text/css">
        .layui-layim-close {
            position: fixed;
            left: calc(100% - 70px) !important;
            top: calc(100% - 80px) !important;
            height: 50px;
            width: 50px;
            border-radius: 25px;
            color: white;
            background-color: #007bff;
        }
        .layui-layim-min .layui-layer-content {
            margin-left: 3px !important;
        }
    </style>

</head>
<body>

    <div id="header">

        <div th:replace="fragments/header :: header"/>

    </div>

    <div id="app" style="height: 1000px; width: 100%; margin-top: 100px; text-align: center;">

        <p>Hello <span th:utext="#{title}"></span> </p>

    </div>

    <div th:replace="fragments/footer :: footer-div"/>

    <!--本地测试代码-->
    <div th:replace="fragments/im :: chat"/>

</body>
</html>






