<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <title>集团定制 - 萝卜丝 | 智能云客服 &amp; 工单支持系统</title>

    <div th:replace="fragments/zd/header :: header-meta"/>

    <link href="/css/zd/screen_i18n.min.css" media="all" rel="stylesheet" type="text/css" />

    <link href="/css/zd/solutions-enterprise-refresh.min.css" media="all" rel="stylesheet" type="text/css" />

</head>

<body>

    <div th:replace="fragments/zd/header :: header"/>

    <article class="mod-block solutions-enterprise-refresh">
        <div class="no-overflow">
            <article class="shape-hero">
                <div class="shape-tower"></div>
                <div class="floor"></div>
                <section>
                    <div class="inner">
                        <div class="hero-text">
                            <h1 class="header">Big businesses need to make big moves</h1>
                            <p class="subheader">Big companies face big challenges. In order to maintain long-term loyalty, your company has to live up to evolving customer expectations. And doing that at scale can be hard.</p>
                            <a href="/demo/" class="btn-primary-cta filled">Request a demo</a>
                        </div>
                    </div>
                </section>
            </article>
            <article class="hero-sub center">
                <section>
                    <div class="inner">
                        <p class="subheader">Bytedesk can help. Our enterprise customer support solution helps you efficiently handle a globally dispersed customer support team, so you can align your organization around what matters most—your customer.</p>
                    </div>
                </section>
            </article>
            <article class="tri-section center">
                <section>
                    <div class="inner">
                        <h2>Helping your business make agility possible</h2>
                        <div class="icon-row">
                            <div class="icon-wrapper">
                                <div class="icon-champ-wrapper">
                                    <div class="icon-like-hand"></div>
                                    <div class="icon-flag"></div>
                                    <div class="icon-champ-porthole"></div>
                                </div>
                                <h4>Make millions feel like one in a million</h4>
                                <p>As an enterprise organization with a large customer base, you shouldn’t have to sweat the small stuff. Personalize every interaction and respond to customers faster so you can maintain customer loyalty for the long haul.</p>
                            </div>
                            <div class="icon-wrapper">
                                <div class="icon-champ-wrapper">
                                    <div class="icon-sailing-hat"></div>
                                    <div class="icon-champ-porthole"></div>
                                </div>
                                <h4>Manage specialized support teams</h4>
                                <p>Unify your team’s tools with a single customer service platform, so that your customers get a consistent experience – regardless of who’s serving them. And customizing your workflow is easy, so you can make changes where and when you need them.</p>
                            </div>
                            <div class="icon-wrapper">
                                <div class="icon-champ-wrapper">
                                    <div class="icon-telescope"></div>
                                    <div class="icon-telescope-stand"></div>
                                    <div class="icon-champ-porthole"></div>
                                </div>
                                <h4>Get all your teams moving in the same direction</h4>
                                <p>Share customer insights with other teams and break down the silos. Our integrated customer support solution allows your teams to efficiently communicate and collaborate with others.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
            <article class="analyst-approved center no-overflow">
                <section>
                    <div class="inner">
                        <h2>See what analysts say about us</h2>
                        <p>Our products and API integrations work together to deliver a consistent customer experience on all channels, and our customers are particularly pleased with our low total cost of ownership and time-to-deployment.</p>
                        <div class="animated-truck">
                            <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-suite/truck-animation.gif" alt="Relationshapes truck" width="461" height="367" />
                        </div>
                        <a href="/resources/gartner-magic-quadrant-crm/" class="btn-primary-cta filled">Check out the Gartner report</a>
                        <p class="disclaimer">*Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner's research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.</p>
                    </div>
                </section>
            </article>
            <article class="enterprise-security no-overflow">
                <section>
                    <div class="inner">
                        <h2 class="center">Build a best of breed solution with Bytedesk</h2>
                        <p class="center">Use Bytedesk products out of the box, or customize and extend our enterprise solution to integrate into your existing tech stack. The choice is yours.</p>
                        <div class="inner-content">
                            <div class="left-half center">
                                <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-solutions-enterprise-refresh/illustration-shake.svg" width="100%" />
                            </div>
                            <div class="right-half top">
                                <p>
                                    <span class="emphasize">Products</span>
                                    Easy to implement, use, and scale
                                </p>
                                <p>
                                    <span class="emphasize">Platform</span>
                                    Open, modern, extensible, and secure—with a partner ecosystem that extends your capabilities
                                </p>
                                <p>
                                    <span class="emphasize">Customer Experience</span>
                                    Experts and partners to guide you throughout your solution lifecycle
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </section>
            </article>
            <article class="customer-quotes center">
                <section>
                    <div class="inner">
                        <div class="logo-shopify"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-solutions-enterprise-refresh/logo-expedia.png" width="350px" alt="Expedia Affiliate Network logo" /></div>
                        <div class="quote">“We went from complete fog—not being able to see two feet in front of us—to open air. Before, we had zero visibility whatsoever. Once we started using Bytedesk, we knew where our tickets were coming from and what people needed.”</div>
                        <div class="source">
                            <div>– Jamie Loren Byers II</div>
                            <div class="source-role">Head of Support, EAN Partner:Connect</div>
                        </div>
                        <div class="customer-stats">
                            <div class="stat num-tickets">
                                <div class="num-stat">3,300</div>
                                <div class="num-category">Avg. monthly ticket volume</div>
                            </div>
                            <div class="stat num-csat">
                                <div class="num-stat">91%</div>
                                <div class="num-category">CSAT</div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
            <article class="enterprise-security no-overflow">
                <section>
                    <div class="inner">
                        <h2 class="center">Security made for the enterprise</h2>
                        <div class="inner-content">
                            <div class="left-half center">
                                <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-solutions-enterprise-refresh/illustration-thumbs.svg" width="100%" />
                            </div>
                            <div class="right-half">
                                <p>
                                    <span class="emphasize">Data center and network security</span>
                                    We ensure the confidentiality and integrity of your data with industry best practices. Our security team is on call 24/7 to respond to security alerts.<br><a class="text-link" href="/product/zendesk-security/#anchor-data">Learn more</a>
                                </p>
                                <p>
                                    <span class="emphasize">Application security</span>
                                    We take steps to securely develop and test against security threats to ensure the safety of our customer data. In addition, Bytedesk employs third-party security experts to perform detailed penetration tests on different applications within our family of products.<br><a class="text-link" href="/product/zendesk-security/#anchor-app-security">Learn more</a>
                                </p>
                                <p>
                                    <span class="emphasize">Compliance certifications and memberships</span>
                                    We implement security best practices to meet not just industry-based compliance, but the most stringent requirements.<br><a class="text-link" href="/product/zendesk-security/#anchor-compliance">Learn more</a>
                                </p>
                                <div class="security-certifications">
                                    <div class="certification-a lazyload"></div>
                                    <div class="certification-b lazyload"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </section>
            </article>
            <article class="bottom-line center">
                <section>
                    <div class="inner">
                        <h2>Transform your customer experience.<br>Start with your customer service strategy.</h2>
                        <p>Transforming customer experience is more important than ever for enterprise businesses. Hear from Gartner and Bytedesk on why your CX transformation initiatives need to start with your customer service strategy.</p>
                        <a href="/resources/gartner-transform-cx-through-customer-service/" class="btn-primary-cta filled">Listen to the webinar</a>
                    </div>
                </section>
            </article>
            <article class="global-brands center">
                <section>
                    <div class="inner">
                        <h2>Join global brands from every industry</h2>
                        <div class="industry-brands">
                            <a class="logo-link" href="/customer/loreal/"><img alt="L’Oréal" src="//d26a57ydsghvgx.cloudfront.net/product/images/customers/loreal_logo_sm.png" /></a>
                            <a class="logo-link" href="/customer/tesco/"><img alt="Tesco" src="//d26a57ydsghvgx.cloudfront.net/content/customers/Tesco/Tesco_Logo.svg.png" /></a>
                            <a class="logo-link" href="/customer/vodafone/"><img alt="Vodafone" src="//d1eipm3vz40hy0.cloudfront.net/images/p-solutions-enterprise-refresh/logo-vodafone.png" /></a>
                            <a class="logo-link" href="/customer/fossil/"><img alt="Fossil Group" src="//d26a57ydsghvgx.cloudfront.net/product/Customer%20Story%20Images/fossil-group-logo.png" /></a>
                            <a class="logo-link" href="/customer/slack/"><img alt="Slack" src="//d26a57ydsghvgx.cloudfront.net/content/customers/Slack/slack_logo.png" /></a>
                        </div>
                    </div>
                </section>
            </article>
            <article class="cta-section center">
                <section>
                    <div class="inner">
                        <h2 class="light">See how Bytedesk products can be customized to your needs</h2>
                        <a class="btn-primary-cta filled" href="/demo/">Schedule a demo</a>
                    </div>
                </section>
            </article>
        </div>
    </article>

    <div th:replace="fragments/zd/footer :: footer-div"/>

    <div th:replace="fragments/zd/footer :: footer-js"/>

    <!--客服上线代码 -->
    <div th:replace="fragments/footer :: footer-chat"/>

</body>

</html>
