<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>在线客服 -虾婆 | 智能云客服 &amp; 工单支持系统</title>

    <div th:replace="fragments/zd/header :: header-meta"/>

    <link href="/css/zd/screen_i18n.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/zd/support-overview-b.min.css" media="all" rel="stylesheet" type="text/css">

</head>

<body data-useragent class="lang-en responsive " lang="en-US">

    <div th:replace="fragments/zd/header :: header"/>

    <article class="mod-block support-overview">
                <span style="position: absolute; z-index: -999;">
                <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/on-combined-transparent-2X.png" alt="" width="0" height="0" />
                <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/hover-combined-transparent-2X.png" alt="" width="0" height="0" />
                </span>
        <div class="content no-overflow">
            <article class="support-hero">
                <section>
                    <div class="support-hero-text-wrap">
                        <h1 class="support-hero-heading">Make it right</h1>
                        <h5 class="support-hero-subheading">Bytedesk Support is a beautifully simple system for tracking, prioritizing, and solving customer support tickets</h5>
                        <div class="support-hero-video SL_swap" id="video_id_support_demo">
                            <a class="support-hero-video-link wistia-popover[height=568,playerColor=7b796a,width=960]" href="//fast.wistia.com/embed/iframe/u7pbtggdg2?autoPlay=true">
                                <span class="support-hero-play-btn"></span>
                                <span class="support-hero-video-text">Watch the video</span>
                            </a>
                        </div>
                    </div>
                    <div class="support-hero-image-wrap">
                        <img class="support-hero-product-image" src="//d1eipm3vz40hy0.cloudfront.net/images/p-support-overview/background-support-hero.png" alt="Image: Bytedesk Support Product Logo">
                    </div>
                </section>
            </article>
            <div class="nav-offsetter"></div>
            <article class="nav-sticky-menu">
                <section>
                    <div class="sticky-nav-header">
                        <a href="/" class="Bytedesk-logo" style="font-size: 23px; margin-top: 15px;">虾婆</a>
                    </div>
                    <div class="nav-header">
                        <a href="/support/" title="Bytedesk Support" rel="home" class="">
                            <a href="/" class="Bytedesk-logo" style="font-size: 23px; margin-top: 15px;">虾婆</a>
                            <!--<img class="sticky-nav-text" src="//d1eipm3vz40hy0.cloudfront.net/images/p-support/support-wordmark.svg">-->
                        </a>
                    </div>
                    <div class="container-nav-links">
                        <a class="nav-link nav-overview" href="/support/#overview">Overview</a>
                        <a class="nav-link nav-features" href="/support/features/#features">Features</a>
                        <a class="nav-link nav-pricing" href="/support/pricing/#pricing">Pricing</a>
                        <a class="nav-link" href="/contact/">Contact Us</a><div class="CTA-row">
                        <a href="/register/?source=zendesk_support" class="cta trial-btn">Start my free trial</a>
                    </div>
                    </div>
                    <div class="clear"></div>
                </section> </article>
            <a name="overview"></a>
            <article class="cust-support">
                <section>
                    <div class="centered-div">
                        <img src="//d1eipm3vz40hy0.cloudfront.net/images/p-support-overview/support-shape.svg">
                        <h2>Be fast and friendly</h2>
                        <p>Bytedesk Support puts all your customer support interactions in one place, so communication is seamless, personal, and efficient&ndash;which means more productive agents and satisfied customers.</p>
                    </div>
                </section>
            </article>
            <article class="support-tri">
                <section class="center">
                    <ul>
                        <li>
                            <aside>
                                <span class="icon circle-bouquet"></span>
                                <div class="icon-copy">
                                    <h2>Lead customers to happiness</h2>
                                    <p>Give customers what they want – quick and easy resolutions to their issues. Bytedesk Support helps you provide personalized support when and where they need it, so customers stay happy.</p>
                                </div>
                            </aside>
                        </li>
                        <li>
                            <aside>
                                <span class="icon circle-high-five"></span>
                                <div class="icon-copy">
                                    <h2>Support your support</h2>
                                    <p>Productive agents are happy agents. Give them all the support tools and information they need to best serve your customers.</p>
                                </div>
                            </aside>
                        </li>
                        <li>
                            <aside>
                                <span class="icon circle-cup"></span>
                                <div class="icon-copy">
                                    <h2>Grow without growing pains</h2>
                                    <p>Bytedesk Support lets you customize your support and configure any workflow. Our software is powerful enough to handle the most complex business, yet flexible enough to scale with you as you grow.</p>
                                </div>
                            </aside>
                        </li>
                    </ul>
                    <a href="/register/?source=zendesk_support#getstarted" class="btn-primary-cta filled">Try it for free</a>
                </section>
            </article>
            <article class="left-align easy-does-it">
                <section>
                    <div class="centered-div">
                        <h3>Make it easy to manage customer interactions</h3>
                        <p>Bytedesk Support is intuitive, and it’s built with support agents in mind. Everything they need lives in a single, dynamic <a href="/help-desk-software/">help desk</a> interface so it’s easy to be productive and manage customer interactions.</p>
                    </div>
                </section>
            </article>
            <article class="cust-story SL_swap" id="support-cust-story">
                <div class="col-left blackanddecker"></div>
                <div class="col-right">
                    <div class="centered-div">
                        <h2>“We wanted a solution that integrated all channels and that gave us the flexibility to implement in the way that we needed.”</h2>
                        <h5>– Orlando Gadea Ros, Business Innovation Manager at Stanley Black & Decker <br /><a href="/customer/stanley-black-decker/">Read the Story</a></h5>
                    </div>
                </div>
            </article>
            <article class="right-place-right-time">
                <section>
                    <h3><span class="header-row">Right&nbsp;place, right&nbsp;time</span></h3>
                    <p>Bring in customer interactions from anywhere. With features like web widgets, pre-defined ticket responses, and customer search history, give them faster support on their preferred channels at the moment they need it.</p>
                </section>
            </article>
            <article class="customize-and-personalize">
                <section>
                    <div class="col-left">
                        <h3>Customize and personalize</h3>
                        <p>Bytedesk Support is designed to be flexible. It works right out of the box, or it can be configured to your preferences. Customize a workflow or use apps and integrations&ndash;any way you use it, Bytedesk Support has the flexibility to fit your support needs.</p>
                    </div>
                    <div class="col-right">
                        <div class="leg-left">
                            <div class="sock"></div>
                        </div>
                        <div class="leg-right">
                            <div class="sock"></div>
                        </div>
                        <div class="stretch-man"></div>
                        <img src="//d1eipm3vz40hy0.cloudfront.net/images/p-support-overview/foot-white.png" class="foot-left">
                        <img src="//d1eipm3vz40hy0.cloudfront.net/images/p-support-overview/foot-white.png" class="foot-right">
                        <div class="car-left"></div>
                        <div class="car-right"></div>
                    </div>
                </section>
            </article>
            <article class="xright-align xeasy-does-it be-smart-about-your-support">
                <div class="col-left"></div>
                <div class="col-right">
                    <h3>Be smart about your support</h3>
                    <p>Bytedesk Support arms you with insights so that you can measure and improve your customer service. Learn what your customers think through customer satisfaction ratings and get analytics on how you’re doing through performance reports and dashboards.</p>
                </div>
            </article>
            <article class="the-zendesk-family">
                <section>
                    <h3>The Bytedesk Family</h3>
                    <p>Bytedesk Support gives you everything you need to manage your customer interactions in one place. But there’s more to the story. Take a look at what else you can do with the Bytedesk family of products.</p>
                    <div class="home-golion">
                        <div class="center zendesk-family-products curtain-transparent">
                            <a href="/guide/" class="product-link">
                                <span class="feature-icon-common icon-help-center"></span>
                                <img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-guide.png" alt="Bytedesk Help Center logo" width="72" height="25" />
                                <span class="product-title">Knowledge base and self-service</span>
                            </a>
                            <a href="/chat/" class="product-link">
                                <span class="feature-icon-common icon-chat"></span>
                                <img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-chat.png" alt="Bytedesk Chat logo" width="72" height="25" />
                                <span class="product-title">Live chat and messaging</span>
                            </a>
                            <a href="/talk/" class="product-link">
                                <span class="feature-icon-common icon-talk"></span>
                                <img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-talk.png" alt="Bytedesk Talk logo" width="72" height="25" />
                                <span class="product-title">Call center software</span>
                            </a>
                            <a href="/connect/" class="product-link">
                                <span class="feature-icon-common icon-connect"></span>
                                <img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-connect.png" alt="Bytedesk Connect logo" width="72" height="25" />
                                <span class="product-title">Proactive campaigns</span>
                            </a>
                            <a href="/explore/" class="product-link">
                                <span class="feature-icon-common icon-explore"></span>
                                <img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-explore.png" alt="Bytedesk Explore logo" width="72" height="25" />
                                <span class="product-title">Analytics and reporting</span>
                            </a>
                        </div>
                    </div>
                </section>
            </article>
            <article class="mod-wrapper gdpr-policy" id="gdpr-compliance">
                <section class="mod-section gdpr-section">
                    <div class="inner-container" id="">
                        <h4 class="gdpr-notice-header">Our commitment to privacy</h4>
                        <p>
                            At Bytedesk, we are committed to meeting the highest standards of information security,
                            data privacy and transparency.
                        </p>
                        <br />
                        <p>
                            We have closely analysed the requirements of the GDPR, and worked to develop functionality to
                            allow customers to comply with the GDPR.
                            We have resources to help you learn more about
                            <a href="https://www.zendesk.com/company/customers-partners/eu-data-protection/#gdpr-sub">how to use this functionality to comply with the GDPR.</a>
                        </p>
                    </div>
                </section>
            </article>
            <article class="sign-up">
                <section>
                    <div class="centered-div">
                        <h3>This could be the beginning of a beautiful relationship</h3>
                        <a class="golion-gen-btn filled hide-mobile hide-tablet" href="/register/?source=zendesk_support#getstarted">Sign up for your free trial</a>
                        <a class="golion-gen-btn hide-desktop" href="/demo/">Sign up for a demo</a>
                        <a class="golion-gen-btn-line" href="/support/features/">Take a tour</a>
                    </div>
                </section>
            </article>
        </div>
    </article>


    <div th:replace="fragments/zd/footer :: footer-div"/>

    <div th:replace="fragments/zd/footer :: footer-js-support"/>

    <!--客服上线代码 -->
    <div th:replace="fragments/footer :: footer-chat"/>



</body>
</html>
