<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <title>套件 -虾婆 | 智能云客服 &amp; 工单支持系统</title>

    <div th:replace="fragments/zd/header :: header-meta"/>

    <link href="/css/zd/screen_i18n.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/zd/suite.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/zd/suite-overview.min.css" media="all" rel="stylesheet" type="text/css" />

</head>

<body data-useragent class="lang-en responsive " lang="en-US">

    <div th:replace="fragments/zd/header :: header"/>

    <article class="mod-block suite suite-overview">
        <article class="mod-block shape-hero">
            <div class="shape-tower"></div>
            <div class="floor"></div>
            <section class="mod-section">
                <div class="hero-text">
                    <h1 class="header">Better together</h1>
                    <p class="subheader">Four powerful products.<br>One pretty package.</p>
                </div>
                <div class="cta-section SL_swap" id="suite-hero-video">
                    <div class="wistia_embed wistia_async_pb5j7gkmaf popover=true popoverContent=html popoverSize=960x568">
                        <a class="golion-gen-btn" href="//fast.wistia.com/embed/iframe/pb5j7gkmaf?autoPlay=true">Watch the video</a>
                    </div>
                    <a class="golion-gen-btn-line hide-mobile" href="/register/?source=zendesk_suite">Start a trial</a>
                </div>
            </section>
        </article> <div class="nav-offsetter" id="overview">
        <article class="nav-sticky-menu">
            <section>
                <div class="sticky-nav-header">
                    <a href="/" class="Bytedesk-logo" style="font-size: 23px; margin-top: 15px;">虾婆</a>
                </div>
                <div class="nav-header">
                    <a href="/support/" title="Bytedesk Support" rel="home" class="">
                        <!--<img class="sticky-nav-text" src="//d1eipm3vz40hy0.cloudfront.net/images/p-support/support-wordmark.svg">-->
                    </a>
                </div>
                <div class="container-nav-links">
                    <a class="nav-link nav-overview" href="/suite/#overview">Overview</a>
                    <a class="nav-link nav-features" href="/suite/features/#features">Features</a>
                    <a class="nav-link nav-pricing" href="/suite/pricing/#pricing">Pricing</a>
                    <a class="nav-link" href="/contact/">Contact Us</a><a class="trial-btn" href="/register/?source=zendesk_suite">Start a trial</a>
                </div>
                <div class="clear"></div>
            </section>
        </article> </div>
        <article class="mod-block suite-intro">
            <span style="position: absolute; z-index: -999;">
            <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/on-combined-transparent-2X.png" alt="" width="0" height="0" />
            <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/hover-combined-transparent-2X.png" alt="" width="0" height="0" />
            </span>
            <section class="mod-section">
                <div class="content center">
                    <div class="logo-zendesk-suite lazyload">
                        <img class="logo-suite lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-omnichannel/logo-suite-z.svg" />
                        <div class="logo-wordmark">The Bytedesk Suite</div>
                    </div>
                    <p class="suite-description">The Suite offers everything you need to let customer conversations flow seamlessly across channels, creating a better experience for both your business and your customers.</p>
                </div>
                <div class="js-tabs-module tabs-module vertical flex-content">
                    <div class="content-container">
                        <div data-tab-content="support">
                            <video class="js-localized-video" preload="metadata" muted>
                                <source class="retina" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/support-2x.webm" type="video/webm" />
                                <source class="retina" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/support-2x.mp4" type="video/mp4" />
                                <source class="default" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/support.webm" type="video/webm" />
                                <source class="default" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/support.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div data-tab-content="guide">
                            <video class="js-localized-video" preload="none" muted>
                                <source class="retina" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/guide-2x.webm" type="video/webm" />
                                <source class="retina" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/guide-2x.mp4" type="video/mp4" />
                                <source class="default" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/guide.webm" type="video/webm" />
                                <source class="default" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/guide.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div data-tab-content="chat">
                            <video class="js-localized-video" preload="none" muted>
                                <source class="retina" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/chat-2x.webm" type="video/webm" />
                                <source class="retina" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/chat-2x.mp4" type="video/mp4" />
                                <source class="default" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/chat.webm" type="video/webm" />
                                <source class="default" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/chat.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div data-tab-content="talk">
                            <video class="js-localized-video" preload="none" muted>
                                <source class="retina" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/talk-2x.webm" type="video/webm" />
                                <source class="retina" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/talk-2x.mp4" type="video/mp4" />
                                <source class="default" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/talk.webm" type="video/webm" />
                                <source class="default" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/video/talk.mp4" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                    <div class="tabs-container">
                        <div class="tab tab-1" data-tab="support">
                            <div class="tab-inner">
                                <h4 class="tab-trigger with-icon">
                                    <img class="icon lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/product-icon-support.svg" alt="Bytedesk Support logo">
                                    <span><span class="eyebrow">Support</span>Integrated customer support</span>
                                </h4>
                                <div class="tab-details">
                                    <p><a href="/support/">Bytedesk Support</a> is a beautifully simple system for tracking, prioritizing, and solving customer support tickets. Support puts all your customer support interactions in one place, so communication is seamless, personal, and efficient–which means more productive agents and satisfied customers.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab tab-2" data-tab="guide">
                            <div class="tab-inner">
                                <h4 class="tab-trigger with-icon">
                                    <img class="icon lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/product-icon-guide.svg" alt="Bytedesk Guide logo">
                                    <span><span class="eyebrow">Guide</span>Knowledge base and smart self-service</span>
                                </h4>
                                <div class="tab-details">
                                    <p>It’s easy to build a knowledge base so that customers can resolve support issues themselves—and most actually prefer to. It’s great for businesses too. With <a href="/guide/">Bytedesk Guide</a>, companies can scale and deflect tickets using smart self-service, including AI-powered tools like <a href="/answer-bot/">Answer Bot</a>, to increase customer and agent satisfaction while also reducing support costs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab tab-3" data-tab="chat">
                            <div class="tab-inner">
                                <h4 class="tab-trigger with-icon">
                                    <img class="icon lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/product-icon-chat.svg" alt="Bytedesk Chat logo">
                                    <span><span class="eyebrow">Chat</span>Live chat and messaging</span>
                                </h4>
                                <div class="tab-details">
                                    <p>Some customers are just in a hurry and need quick access to a real person. With <a href="/chat/">Bytedesk Chat</a> and Message, you can also proactively engage customers—in real-time and in context. That way customers can get the attention they deserve.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab tab-4" data-tab="talk">
                            <div class="tab-inner">
                                <h4 class="tab-trigger with-icon">
                                    <img class="icon lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/redesign-2018/product-icon-talk.svg" alt="Bytedesk Talk logo">
                                    <span><span class="eyebrow">Talk</span>Call center software</span>
                                </h4>
                                <div class="tab-details">
                                    <p>For complex problems—like placing a complicated order or re-booking a flight—customers often call to get more personalized support. <a href="/talk/">Bytedesk Talk</a> makes it easy and efficient for agents to help customers over the phone as part of a seamless omnichannel support experience.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <article class="mod-wrapper gdpr-policy" id="gdpr-compliance">
            <section class="mod-section gdpr-section">
                <div class="inner-container" id="">
                    <h4 class="gdpr-notice-header">Our commitment to privacy</h4>
                    <p>
                        At Bytedesk, we are committed to meeting the highest standards of information security,
                        data privacy and transparency.
                    </p>
                    <br />
                    <p>
                        We have closely analysed the requirements of the GDPR, and worked to develop functionality to
                        allow customers to comply with the GDPR.
                        We have resources to help you learn more about
                        <a href="https://www.zendesk.com/company/customers-partners/eu-data-protection/#gdpr-sub">how to use this functionality to comply with the GDPR.</a>
                    </p>
                </div>
            </section>
        </article>
        <article class="mod-block suite-pricing center">
            <section class="mod-section">
                <div class="content package-zendesk-suite">
                    <div class="content-inner">
                        <div class="discount">over 35% off</div>
                        <h2>The price is right</h2>
                        <p>Getting started doesn’t mean emptying your pockets. Get Support, Guide, Chat, and Talk for one low price.</p>
                        <div class="logo-zendesk-suite lazyload">
                            <img class="logo-suite lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-omnichannel/logo-suite-z.svg" />
                            <div class="logo-wordmark">The Bytedesk Suite</div>
                        </div>
                        <div class="zendesk-family">
                            <div class="zendesk-family-products curtain-transparent lazyload">
                                <a class="product-link" href="/support/">
                                    <span class="feature-icon-common icon-support lazyload"></span>
                                    <img class="product-logo lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-support.png" alt="Bytedesk Support logo" width="72" height="25" />
                                </a>
                                <a href="/guide/" class="product-link">
                                    <span class="feature-icon-common icon-help-center lazyload"></span>
                                    <img class="product-logo lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-guide.png" alt="Bytedesk Guide logo" width="72" height="25" />
                                </a>
                                <a href="/chat/" class="product-link">
                                    <span class="feature-icon-common icon-chat lazyload"></span>
                                    <img class="product-logo lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-chat.png" alt="Bytedesk Chat logo" width="72" height="25" />
                                </a>
                                <a href="/talk/" class="product-link">
                                    <span class="feature-icon-common icon-talk lazyload"></span>
                                    <img class="product-logo lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-talk.png" alt="Bytedesk Talk logo" width="72" height="25" />
                                </a>
                            </div>
                        </div>
                        <a class="golion-gen-btn see-pricing" href="/suite/pricing/#pricing">See pricing</a>
                    </div>
                </div>
            </section>
        </article>
        <article class="mod-block quote-block center">
            <section class="mod-section">
                <div class="content">
                    <div class="company-logo designs99 lazyload"></div>
                    <h4 class="customer-quote">“Having everything all in one place, with easier to use products, has definitely been a plus for us.”</h4>
                    <div class="source">Zach Kulas, Director of Global Support, 99DESIGNS</div>
                </div>
            </section>
        </article>
        <article class="mod-block get-started">
            <section class="mod-section">
                <div class="content-half content-left">
                    <div class="large-header">Get started in no time</div>
                    <p>The Bytedesk Suite makes it easy to get all your channels set up in less than a day, so you can start offering great support to your customers as soon as possible.</p>
                </div>
                <div class="content-half content-right center relationshapes">
                    <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-suite/truck-animation.gif" alt="Relationshapes truck" width="461" height="367" />
                </div>
                <div class="content-half content-left">
                    <div class="cta-section">
                        <a class="golion-gen-btn" href="/register/?source=zendesk_suite">Start a trial</a>
                        <a class="golion-gen-btn-line" href="/suite/pricing/#pricing">See pricing</a>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
        </article>
    </article>

    <div th:replace="fragments/zd/footer :: footer-div"/>

    <!--客服上线代码 -->
    <div th:replace="fragments/footer :: footer-chat"/>

    <script src="/js/zd/plugins.min.js"></script>
    <script src="/js/zd/geoUtils.min.js"></script>
    <script src="/js/zd/webUtils.min.js"></script>
    <script src="/js/zd/p-suite-overview.min.js"></script>
    <script src="/js/zd/tabs.min.js"></script>

</body>
</html>
