<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <div th:replace="fragments/header :: header-meta"/>
    <div th:replace="fragments/header :: header-css"/>

    <title>萝卜丝·Robot - 开源IM & 在线客服系统 · <span th:text="${bytedeskVersion}" th:remove="tag"></span></title>
</head>
<body>

    <div id="header">

        <div th:replace="fragments/header :: header"/>

    </div>

    <div id="app" style="height: 1000px; width: 100%; margin-top: 100px; text-align: center;">

        <p>Hello <span th:utext="#{title}"></span> </p>

        <p><a href="/admin" target="_blank">管理后台</a></p>
        <p><a href="/chat?uid=201808221551193&wid=201807171659201&type=workGroup&aid=&ph=ph" target="_blank">工作组客服</a></p>
        <p><a href="/chat?uid=201808221551193&wid=201807171659201&username=defUsername&nickname=自定义昵称&type=workGroup" target="_blank">工作组客服(自定义用户名&昵称)</a></p>
        <p><a href="/chat?uid=201808221551193&wid=&type=visitor&aid=201808221551193&ph=ph" target="_blank">一对一会话</a></p>
        <p><a href="/chat?uid=201808221551193&gid=&type=group" target="_blank">群组聊天</a></p>
        <p><a href="/video?uid=201808221551193&wid=201807171659201&type=workGroup&aid=&ph=ph" target="_blank">音视频客服</a></p>
        <p><a href="/conf" target="_blank">视频会议</a></p>
        <p><a href="/im" target="_blank">内部IM</a></p>

        <p>辅助管理系统</p>
        <p><a href="#" target="_blank">客户管理CRM</a></p>
        <p><a href="/support?uid=201808221551193" target="_blank">帮助中心</a></p>
        <p><a href="/community" target="_blank">讨论社区</a></p>
        <p><a href="#" target="_blank">知识库</a></p>

        <p>单页面</p>
        <p><a href="/feedback?uid=201808221551193&wid=201807171659201&ph=ph" target="_blank">意见反馈</a></p>
        <p><a href="/workOrder" target="_blank">工单系统</a></p>
        <p><a href="/wenJuan" target="_blank">问卷系统</a></p>

        <p>RESTful API</p>
        <p><a href="/swagger-ui.html" target="_blank">APIs</a></p>

    </div>

    <div th:replace="fragments/footer :: footer-div"/>

</body>
</html>