<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<div th:fragment="footer">

    <div id="byteDesk-start" style="cursor: pointer; position: fixed; bottom: 760px; right: 30px; z-index: 100; background-color: #3a8ee6; color: white;">
        咨询大学长
    </div>

    <footer class="blog-footer">
        <p><a href="http://www.chainsnow.com/" target="_blank">北京微语天下科技有限公司</a></p>
        <p>京ICP备17041763号-2</p>
        <p>
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274214235'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D1274214235%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
            <a href="#">返回顶部</a>
        </p>
    </footer>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!--stomp 1.1-->
    <!--<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>-->
    <!--stomp 1.2: https://stomp.github.io/stomp-specification-1.2.html-->
    <script src="/js/stomp.min.js"></script>
    <!-- 开发环境版本，包含了用帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!--<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>-->
    <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>

    <!--TODO: 用于嵌入第三方网站-->
    <!--start of byteDesk.com-->
    <!---->
    <div id="byteDesk-app" v-if="byteDeskVisible"
         style="position: fixed; bottom:5px; right: 10px; width: 600px; height: 500px; color: white; border: 1px solid #e4e7ed; border-radius: 10px; box-shadow: 1px 1px 5px #888888;">
        <div class="row" style="font-size: 15px; text-align: center; height: 56px; line-height: 56px; width: 100%; margin-left: 0px; background-color: #C13232;">
            <div id="byteDesk-name" class="col-md-5" style="cursor: pointer; text-align:left; padding-left: 20px;">
                金吉列大学长
            </div>
            <div class="col-md-5">
                <span id="byteDesk-agent" style="cursor: pointer; margin-left: -20px;">
                    人工客服
                </span>
                <span id="byteDesk-lm" style="cursor: pointer; padding-left: 20px;">
                    我要留言
                </span>
                <span id="byteDesk-robot" style="cursor: pointer; padding-left: 20px;">
                    自助答疑
                </span>
            </div>

            <div id="byteDesk-close" class="col-md-2"  @click="close" style="cursor: pointer; text-align: right; padding-right: 20px;">
                收起
            </div>
        </div>
        <div class="row" style="width: 100%; height: 100%; margin-left: 0px;">

            <div class="col-md-9" id="byteDesk-main" style="background-color: white; height: 100%; width: 100%;">
                <!--style="height: 82%; padding: 10px; "-->
                <div id="byteDesk-message" style="height: 65%; overflow-y: scroll; border: 0px; background-color: white;">
                    main
                </div>
                <div style="width: 100%; height: 1px; margin-bottom: 2px; background-color: #e4e7ed"></div>
                <div id="byteDesk-send">
                    <div id="byteDesk-input">
                        <textarea rows="3" cols="51"></textarea>
                    </div>
                    <div style="width: 100%; height: 1px; margin-bottom: 2px; background-color: #e4e7ed"></div>
                    <div id="byteDesk-button" style="margin-top: 3px;">
                        <div id="byteDesk-emotion" style="cursor: pointer; float: left; background-color: #3a8ee6">表情</div>
                        <div id="byteDesk-image" style="cursor: pointer; float: left; background-color: #3a8ee6">图片</div>
                        <div id="byteDesk-doSend" style="cursor: pointer; float: right; background-color: #3a8ee6">发送</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="text-align: center; background-color: white">
                <div style="height: 100%; width: 1px; background-color: #e4e7ed; float: left;"></div>
                <div id="byteDesk-avatar" style="margin-top: 50px;">
                    <img :src="avatar" width="50px" height="50px">
                </div>
                <div id="byteDesk-name" style="font-size: 15px; color: black;">
                    {{ name }}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: '#byteDesk-app',
            data() {
                return {
                    byteDeskVisible: false,
                    avatar: 'http://chainsnow.oss-cn-shenzhen.aliyuncs.com/images/20180711094054.png',
                    name: '智能客服'
                };
            },
            computed: {},
            methods: {
                close() {
                    // 关闭窗口和对话
                    this.byteDeskVisible = false
                }
            },
            mounted() {
                console.log('mounted')
            },
            created() {
                console.log('created');
                document.getElementById("byteDesk-start").addEventListener("click", function(){
                    app.byteDeskVisible = !app.byteDeskVisible;
                });
            }
        });
    </script>
    <!--end of byteDesk.com-->

</div>

</body>
</html>

