<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>功能模块 - 虾婆 | 智能云客服 &amp; 工单支持系统</title>

    <div th:replace="fragments/zd/header :: header-meta"/>

    <link href="/css/zd/screen.min.css" media="all" rel="stylesheet" type="text/css" />

</head>

<body data-useragent class="lang-en responsive " lang="en-US">

    <div th:replace="fragments/zd/header :: header"/>

    <article class="pricing-2017">

        <div class="pricing-header-wrap">
            <span style="position: absolute; z-index: -999;">
            <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/on-combined-transparent-2X.png" alt="" width="0" height="0" />
            <img class="lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/hover-combined-transparent-2X.png" alt="" width="0" height="0" />
            </span>
            <h1 class="golion-h1 pricing-header-title">价格方案</h1>
            <h5>我们提供全渠道客户服务在线解决方案.</h5>
        </div>

        <article class="pricing-tiles mod-block curtain-up">
            <section class="mod-section">
                <ul>
                    <li class="product-tile full-width tile-left suite curtain-transparent" data-product="suite">
                        <div class="box-padding" data-reoccurring="annually">
                            <div class=col-left>
                                <div class="product-link">
                                </div>
                                <h2>虾婆·套件</h2>
                                <div class="zendesk-family">
                                    <div class="zendesk-family-products curtain-transparent">
                                        <a class="product-link" href="/support/">
                                            <span class="feature-icon-common entrance-done icon-support-small"></span>
                                        </a>
                                        <a href="/guide/" class="product-link">
                                            <span class="feature-icon-common entrance-done icon-help-center-small lazyload"></span>
                                        </a>
                                        <a href="/chat/" class="product-link">
                                            <span class="feature-icon-common entrance-done icon-chat-small lazyload"></span>
                                        </a>
                                        <a href="/talk/" class="product-link">
                                            <span class="feature-icon-common entrance-done icon-talk-small lazyload"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class=col-right>
                                <h2 style="text-align: left;">公测期间免费</h2>
                                <a style="margin-top: 120px;" class="golion-gen-btn pricing-cta opt-cta-try opt-cta-suite-try" href="/admin#/register" target="_blank">免费试用</a>
                            </div>
                        </div>
                    </li>
                    <li class="product-tile full-width tile-left support curtain-transparent" data-product="zendesk">
                        <div class="box-padding" data-reoccurring="annually">
                            <div class=col-left>
                                <div class="product-link" href="/support/">
                                    <span class="feature-icon-common lazyload entrance-done icon-support"></span>
                                    <h2>工单系统</h2>
                                    <!--<img class="product-logo lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-pricing/2017/support-wordmark.svg" alt="Bytedesk Support logo" width="108" height="28" />-->
                                </div>
                            </div>
                            <div class=col-right>
                                <h2 style="text-align: left;">公测期间免费</h2>
                                <a style="margin-top: 100px;" class="golion-gen-btn pricing-cta opt-cta-try opt-cta-suite-try" href="/admin#/register" target="_blank">免费试用</a>
                            </div>
                        </div>
                    </li>
                    <li class="product-tile tile-left guide curtain-transparent" data-product="guide">
                        <div class="box-padding" data-reoccurring="annually">
                            <div href="/guide/" class="product-link">
                                <span class="feature-icon-common lazyload entrance-done icon-guide"></span>
                                <h2>帮助中心</h2>
                                <!--<img class="product-logo lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-pricing/2017/guide-wordmark.svg" alt="Bytedesk Guide logo" width="65px" height="30" />-->
                            </div>
                            <h5>公测期间免费</h5>
                            <a style="margin-top: 20px;" class="golion-gen-btn pricing-cta opt-cta-try opt-cta-suite-try" href="/admin#/register" target="_blank">免费试用</a>
                        </div>
                    </li><li class="product-tile tile-right chat chat-2017 curtain-transparent" data-product="chat">
                    <div class="box-padding" data-reoccurring="annually">
                        <div href="/chat/" class="product-link">
                            <span class="feature-icon-common lazyload entrance-done icon-chat"></span>
                            <h2>在线客服</h2>
                            <!--<img class="product-logo lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-pricing/2017/chat-wordmark.svg" alt="Bytedesk Chat logo" width="52" height="22" />-->
                        </div>
                        <h5>公测期间免费</h5>
                        <a style="margin-top: 20px;" class="golion-gen-btn pricing-cta opt-cta-try opt-cta-suite-try" href="/admin#/register" target="_blank">免费试用</a>
                    </div>
                </li><li class="product-tile tile-left talk curtain-transparent" data-product="talk">
                    <div class="box-padding" data-reoccurring="annually">
                        <div href="/talk/" class="product-link">
                            <span class="feature-icon-common lazyload entrance-done icon-talk"></span>
                            <h2>智能客服</h2>
                            <!--<img class="product-logo lazyload no-src" data-src="//d1eipm3vz40hy0.cloudfront.net/images/p-pricing/2017/talk-wordmark.svg" alt="Bytedesk Talk logo" width="43" height="19" />-->
                        </div>
                        <h5>公测期间免费</h5>
                        <a style="margin-top: 20px;" class="golion-gen-btn pricing-cta opt-cta-try opt-cta-suite-try" href="/admin#/register" target="_blank">免费试用</a>
                    </div>
                </li>
                </ul>
            </section>
        </article>

        <article class="questions">
            <div class="col-960">
                <h2 class="golion-h2 pricing-header-title">更多帮助?</h2>
                <p><a href="/support?uid=201808221551193" class="link" target="_blank">帮助中心</a> 24/7在线<br />或者 <a href="/contact/" class="link" target="_blank">联系我们</a>.</p>
            </div>
        </article>

    </article>

    <div th:replace="fragments/zd/footer :: footer-div"/>

    <div th:replace="fragments/zd/footer :: footer-js"/>

    <!--客服上线代码 -->
    <div th:replace="fragments/footer :: footer-chat"/>

</body>
</html>
