.layui-layim-close {
    position: fixed;
    left: calc(100% - 70px) !important;
    top: calc(100% - 150px) !important;
    height: 50px;
    width: 50px;
    border-radius: 25px !important;
    color: white;
    background-color: #007bff !important;
}
.layui-layim-min .layui-layer-content {
    margin-left: 3px !important;
}