<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="ByteDesk.com 微客服 在线客服系统 微信客服系统 智能客服系统 即时通讯云 企业协作系统 工单系统 App android ios 苹果 安卓 微信 微信公众平台 微服务 android iOS 微客服 App客服  App在线客服 App 在线咨询 移动开发者服务平台 微客服  在线客服  微博 新浪微博 微信 微语 聊天 移动聊天 免费 发信息 发图片 语音 weixin 离线消息 微博 私信 流量" />
  <meta name="description" content="ByteDesk.com 微客服 卓越的在线客服系统 微信客服系统 智能客服系统 即时通讯云 企业协作系统 工单系统 android ios 苹果 安卓 微信 微信公众平台 微服务 微客服 App在线客服 App在线咨询 android iOS 安卓 移动开发者服务平台 一款跨平台的在线客服工具。支持多个微博、绑定多个账号。通过获取微博用户关系链、粉丝、好友，挖掘潜在客户。" />
  <meta name="author" content="ByteDesk.com">
  <link rel="icon" href="/favicon.ico">

  <!-- this is header-css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">

  <!--iconfont.cn-->
  <link rel="stylesheet" href="//at.alicdn.com/t/font_761687_dmeuhcj8d3i.css"/>
  <!--页面底部css-->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->

  <link href="./css/style.css" rel="stylesheet">

  <title> 音视频客服 </title>

</head>

<body>

<!--TODO: 适配微信-->
<div id="app">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <!--主区域-->
  <main id="main" role="main" style="margin-top: 50px;">

    <!-- main + bottom + rightSide-->
    <div id="content" class="row" >

      <div class="row" style="height: 260px; width: 100%; margin-left: 30%;">
        <!-- <video id="localVideo" autoplay playsinline style="width: 320px; height: 250px;"></video> -->
        <video id="remoteVideo" autoplay playsinline style="width: 320px; height: 250px;"></video>
      </div>

      <div class="row" style="width: 300px; margin-left: 35%; margin-top: -100px;">
        <span v-if="!connected">登录用户号码：</span>
        <el-input v-if="!connected" v-model="username" placeholder="登录用户号码"></el-input>
        <span>呼叫号码：</span>
        <el-input v-model="destinationNumber" placeholder="呼叫号码"></el-input>
        <el-input type="textarea" v-model="inputContent" placeholder="发送消息"></el-input>
        <el-button @click="sendMessageVerto">发送</el-button>
      </div>

      <div class="row" style="height: 40px; width: 100%; margin-left: 35%;">
        <el-button v-if="connected" id="logoutButton" @click="logoutVerto">登出</el-button>
        <el-button v-else id="loginButton" @click="loginVerto">登录</el-button>
        <el-button v-if="connected" id="callButton" @click="makeCallVerto">呼叫</el-button>
        <el-button v-if="ringing" id="answerButton" @click="answerVerto">应答</el-button>
        <el-button v-if="ringing" id="declineButton" @click="declineVerto">拒绝</el-button>
        <el-button v-if="active" type="error" id="hangupButton" @click="hangUpVerto">挂断</el-button>
        <!-- <el-button>截图</el-button> -->
        <!-- <el-button>开始录制</el-button> -->
        <!-- <el-button>停止录制</el-button> -->
      </div>

      <div class="row" style="height: 40px; width: 100%; margin-left: 40%;">
        <span v-if="connected">连接成功</span>
        <span v-else>连接断开</span>
      </div>

      <!--
        <div class="row">
        <button id="make-call">Make call</button>
        <button id="hang-up-call">Hang up call</button>
        <button id="answer-call">Answer call</button>
        <button id="mute-call">Mute call</button>
        <button id="unmute-call">Unmute call</button>
        <button id="mute-unmute-call">Mute/Unmute call</button>
        <button id="hold-call">Hold call</button>
        <button id="unhold-call">Unhold call</button>
        <button id="transfer-call">Transfer call</button>
        <video id="video-container" autoplay="autoplay" class="video-style"></video>
        </div>
       -->

    </div>

  </main>

</div>

<!-- Verto dependencies -->
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-json/2.6.0/jquery.json.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.0/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<!-- Verto library -->
<script src="./js/verto/jquery.verto.js"></script>
<script src="./js/verto/jquery.FSRTC.js"></script>
<script src="./js/verto/jquery.jsonrpcclient.js"></script>

<!-- <script src="./js/main.js"></script> -->

<!-- 开发文档 -->
<!-- https://evoluxbr.github.io/verto-docs/tut/getting-started.html -->
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data() {
            return {
                title: '音视频-访客端',
                inputContent: '',

                //
                localVideo: null,
                localStream: null,
                constraints: null,

                //
                username: '1002',
                host: 'voip.bytedesk.cn',
                password: '1234',
                socketUrl: 'wss://voip.bytedesk.cn:8082',
                destinationNumber: '3500',

                // verto, 音视频
                verto: null,
                currentCall: null,
                chattingWith: null,
                ringing: false,
                active: false,
                connected: false,
                vertoConf: null,
                liveArray: null

            }
        },
        computed: {
            callerIdName () {
                return '访客' + this.username
            },
            callerIdNumber () {
                return this.username
            }
        },
        methods: {
            //
            initLocalVideo () {
                // Video element where stream will be placed.
                this.localVideo = document.getElementById('localVideo');
                // 获取前置摄像头
                // https://stackoverflow.com/questions/33761770/what-constraints-should-i-pass-to-getusermedia-in-order-to-get-two-video-media
                // https://github.com/webrtc/samples/blob/gh-pages/src/content/devices/input-output/js/main.js
                navigator.mediaDevices.enumerateDevices()
                    .then(devices => {
                        console.log(devices)
                        // audioinput, audiooutput, videoinput
                        var cameras = devices.filter(device => {
                            return device.kind == 'videoinput' && device.label.includes('Front')
                        });
                        console.log('cameras:', cameras)
                        if (cameras.length > 0) {
                            this.constraints = cameras[0].deviceId
                            // { deviceId: { exact: cameras[0].deviceId } };
                        }
                    });
                // 兼容出路
                // navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                // Initializes media stream.
                // navigator.mediaDevices.getUserMedia({
                //   // you will be streaming only video (video: true).
                //   video: true,
                //   video: { facingMode: 'user' }, // 调用前置摄像头
                //   // video: { facingMode: { exact: "environment" } } // 后置摄像头
                // })
                // .then(mediaStream => {
                //   console.log('navigator.getUserMedia success:', mediaStream)
                //   this.localStream = mediaStream;
                //   this.localVideo.srcObject = mediaStream;
                // }).catch(error => {
                //   console.log('navigator.getUserMedia error: ', error);
                // });
            },

            /**
             * 初始化参数，并登录freeswitch服务器
             */
            initVerto () {
                this.verto = new $.verto({
                    login:  this.username +'@' + this.host,
                    passwd: this.password,
                    socketUrl: this.socketUrl,
                    tag: 'remoteVideo',
                    ringFile: './sounds/bell_ring2.wav',
                    iceServers: true,
                    deviceParams: {
                        useMic: 'any',
                        useSpeak: 'any',
                        useCamera: this.constraints == null ? 'any' : this.constraints,
                    }
                }, {
                    onMessage: function (verto, dialog, message, data) {
                        app.handleMessage(verto, dialog, message, data)
                    },

                    onDialogState: function (dialog) {
                        app.handleDialogState(dialog)
                    },

                    onWSLogin: function (verto, success) {
                        app.handleWSLogin(verto, success)
                    },

                    onWSClose: function (verto, success) {
                        app.handleWSClose(verto, success)
                    },

                    onEvent: function (verto, event) {
                        app.handleEvent(verto, event)
                    }
                });
            },

            /**
             *
             */
            handleMessage (verto, dialog, message, data) {
                console.log('handleMessage:', verto, dialog, message, data)
                switch (message) {
                    case $.verto.enum.message.pvtEvent:
                        if (data.pvtData) {
                            console.log('data.pvtData.action:', data.pvtData.action)
                            switch (data.pvtData.action) {
                                case "conference-liveArray-join":
                                    this.initLiveArray(verto, dialog, data);
                                    this.chattingWith = data.pvtData.chatID;
                                    break;
                                case "conference-liveArray-part":
                                    break;
                            }
                        }
                        break;
                    case $.verto.enum.message.clientReady:
                        console.warn("clientReady:", data);
                        break;
                    case $.verto.enum.message.info:
                        // 收到聊天消息
                        console.warn("info:", data);
                        var body = data.body;
                        var from = data.from_msg_name || data.from;
                        console.warn('body:', body, ' from:', from)
                        break;
                    case $.verto.enum.message.display:
                        console.warn("display:", data);
                        var party = dialog.params.remote_caller_id_name + "<" + dialog.params.remote_caller_id_number + ">";
                        console.warn('party:', party)
                        break;
                    default:
                        break;
                }
            },

            /**
             *
             */
            handleDialogState (dialog) {
                console.log('handleDialogState', dialog)

                if(!this.currentCall) {
                    this.currentCall = dialog;
                }

                if (dialog.state == $.verto.enum.state.ringing) {
                    this.ringing = true;
                } else {
                    this.ringing = false;
                }

                switch (dialog.state) {
                    case $.verto.enum.state.ringing:
                        console.log('呼入 ringing:', dialog.cidString())
                        break;
                    case $.verto.enum.state.trying:
                        console.log('呼出 trying', dialog.cidString())
                        break;
                    case $.verto.enum.state.early:
                        console.log('early', dialog.cidString())
                        break;
                    case $.verto.enum.state.active:
                        console.log('active 通话中：', dialog.cidString())
                        this.active = true
                        break;
                    case $.verto.enum.state.answering:
                        console.log('answering', dialog.cidString())
                        break;
                    case $.verto.enum.state.hangup:
                        console.log('通话结束 hangup：', dialog.cause)
                        this.active = false
                        break;
                    case $.verto.enum.state.destroy:
                        console.log('通话结束 destroy')
                        this.currentCall = null;
                        this.active = false
                        break;
                    case $.verto.enum.state.held:
                        console.log('通话 held')
                        break;
                    default:
                        console.log('通话 other')
                        break;
                }
            },

            /**
             *
             */
            handleWSLogin (verto, success) {
                console.log('handleWSLogin', verto, success)
                this.currentCall = null
                this.ringing = false
                //
                if (success) {
                    this.connected = true
                }
            },

            /**
             *
             */
            handleWSClose (verto, success) {
                console.log('handleWSClose', verto, success)
                this.connected = false

            },

            /**
             *
             */
            handleEvent (verto, event) {
                console.log('handleEvent', verto, event)

            },

            /**
             * Setting up and subscribing to the live array.
             */
            initLiveArray (verto, dialog, data) {
                // Set up addtional configuration specific to the call.
                this.vertoConf = new $.verto.conf(verto, {
                    dialog: dialog,
                    hasVid: true,
                    laData: data.pvtData,
                    // For subscribing to published chat messages.
                    chatCallback: function(verto, eventObj) {
                        var from = eventObj.data.fromDisplay || eventObj.data.from || 'Unknown';
                        var message = eventObj.data.message || '';
                    },
                });
                var config = {
                    subParams: {
                        callID: dialog ? dialog.callID : null
                    },
                };
                // Set up the live array, using the live array data received from FreeSWITCH.
                liveArray = new $.verto.liveArray(verto, data.pvtData.laChannel, data.pvtData.laName, config);
                // Subscribe to live array changes.
                liveArray.onChange = function(liveArrayObj, args) {
                    console.log("Call UUID is: " + args.key);
                    console.log("Call data is: ", args.data);
                    console.log("Call action is: ", args.action);
                    try {
                        switch (args.action) {

                            // Initial list of existing conference users.
                            case "bootObj":
                                break;

                            // New user joined conference.
                            case "add":
                                break;

                            // User left conference.
                            case "del":
                                break;

                            // Existing user's state changed (mute/unmute, talking, floor, etc)
                            case "modify":
                                break;

                        }
                    } catch (err) {
                        console.error("liveArray ERROR: " + err);
                    }
                };
                // Called if the live array throws an error.
                liveArray.onErr = function (obj, args) {
                    console.error("liveArray Error: ", obj, args);
                };
            },

            /**
             *
             */
            loginVerto () {
                console.log('loginVerto')
                if (this.verto) {
                    this.verto.loginData({
                        login: this.username + '@' + this.host,
                        passwd: this.password
                    });
                    this.verto.login();
                } else {
                    this.initVerto()
                }
            },

            /**
             *
             */
            logoutVerto () {
                console.log('logoutVerto')
                this.verto.logout();
                this.connected = false
            },

            /**
             *
             */
            makeCallVerto () {
                console.log('makeCallVerto:', this.destinationNumber)
                // this.verto.videoParams({
                //   // Dimensions of the video feed to send.
                //   minWidth: 320,
                //   minHeight: 240,
                //   maxWidth: 640,
                //   maxHeight: 480,
                //   // The minimum frame rate of the client camera, Verto will fail if it's
                //   // less than this.
                //   minFrameRate: 15,
                //   // The maximum frame rate to send from the camera.
                //   vertoBestFrameRate: 30,
                // });
                this.currentCall = this.verto.newCall({
                    destination_number: this.destinationNumber,
                    caller_id_name: this.callerIdName,
                    caller_id_number: this.callerIdNumber,
                    useVideo: true,
                    useStereo: true,
                    // mirrorInput: true,
                    // userVariables: {
                    //   avatar: "",
                    //   email: 'jackning@bytedesk.com'
                    // },
                    // dedEnc: false,
                    // Example of setting the devices per-call.
                    // useMic: 'any',
                    // useSpeak: 'any',
                    useCamera: this.constraints == null ? 'any' : this.constraints,
                });
            },

            /**
             *
             */
            sendMessageVerto() {
                console.log('sendMessageVerto:', this.chattingWith, this.inputContent)
                this.currentCall.message({
                    to: this.chattingWith,
                    body: this.inputContent,
                    from_msg_name: this.callerIdName,
                    from_msg_number: this.callerIdNumber
                });
                // The second argument is a message type, completely arbitrary, can be used
                // classify different kinds of messages.
                // this.vertoConf.sendChat(this.inputContent, "text");
            },

            /**
             *
             */
            toggleHoldVerto () {
                console.log('toggleHoldVerto')
                this.currentCall.toggleHold()
            },

            /**
             *
             */
            transferVerto (to) {
                console.log('transferVerto')
                this.currentCall.transfer(to)
            },

            /**
             *
             */
            dtmfVerto (num) {
                this.currentCall.dtmf(num)
            },

            /**
             *
             */
            answerVerto () {
                console.log('answerVerto')
                // dialog.params.wantVideo
                this.currentCall.answer({
                    useVideo: true,
                    useStereo: true,
                    callee_id_name: this.callerIdName,
                    callee_id_number: this.callerIdNumber,
                });
            },

            /**
             *
             */
            declineVerto () {
                console.log('declineVerto')
                this.currentCall.hangup({ "cause": "CALL_REJECTED" });
            },

            /**
             *
             */
            hangUpVerto () {
                console.log('hangUpVerto')
                this.verto.hangup()
                this.currentCall = null
            }

        },
        created() {
            console.log("created");
        },
        mounted() {
            console.log('mounted')
            this.initLocalVideo()
        }
    });
</script>
</body>
</html>