<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

    <div th:fragment="footer-div">
        <footer class="bd-footer">
            <p><a href="https://www.bytedesk.com/" target="_blank">北京微语天下科技有限公司</a></p>
            <p>京ICP备17041763号-2</p>
            <p>
                <!--<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274214235'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D1274214235%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>-->
                <a href="#">返回顶部</a>
            </p>
        </footer>
    </div>

    <div th:fragment="footer-js">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

        <!--开发环境-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>-->
        <!--线上环境-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.0/index.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

    </div>

    <div th:fragment="footer-chat">

        <!--萝卜丝·智能客服代码 开始 -->
        <div id="byteDesk"></div>
        <script type="text/javascript">
            // 以下所有值均需要替换为真实值
            window.adminUid = "201808221551193";
            window.workGroupWid = "201807171659201";
            window.subDomain = "vip";
            window.type = "workGroup";
            window.agentUid = "201808221551193";
            (function () {
                d = document;
                s = d.createElement("script");
                s.src = "https://www.bytedesk.com/js/me.js";
                s.async = 1;
                d.getElementsByTagName("head")[0].appendChild(s);
            })();
        </script>
        <!--./萝卜丝·智能客服代码 结束 -->


    </div>



</body>
</html>
